.full-height {
    height: 100%;
}

.full-height-v {
    height: auto;
}

.full-width {
    width: 100%;
}

.full-width-h {
    width: auto;
}

.flex, .flex-v, .panes, .panes-v {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-h);
}

.flex-v, .panes-v {
    flex-direction: column;
    gap: var(--gap-v);
}

.flex-grow {
    flex-grow: 1;
}

.panes, .panes-v {
    gap: 0;
}

.pane {
    border: var(--input-border-width) solid var(--bg-4);
    --width: 50%;
    width: calc(var(--width) - 2 * var(--input-border-width));
}

.padded {
    padding: var(--gap-h);
}

.no-gap {
    gap: 0;
}

.small-gap {
    gap: var(--gap-h);
}

.bold {
    font-weight: bold;
}

.round {
    border-radius: 50%;
}

.icon {
    width: 1em;
    height: 1em;
}

.icon.doublesize {
    width: calc(2em + var(--gap-v));
    height: calc(2em + var(--gap-v));
}

.highlight {
    background-color: var(--bg-3);
}

.error {
    color: var(--red);
    max-width: 200px;
    font-size: 0.8em;
}

.warning {
    color: var(--yellow);
    max-width: 200px;
    font-size: 0.8em;
}

.centered-content {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.spinner {
    --spinner-size: 1em;
    --translation-size: calc(var(--spinner-size) / 2 - var(--spinner-size) / 10);
    height: var(--spinner-size);
    width: var(--spinner-size);
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner > div {
    box-sizing: border-box;
    position: absolute;
    width: 20%; /*This size will affect the distance of the dots from the center.*/
    height: 20%; /*Should be the same as the width.*/
    border-radius: 50%;
    background-color: var(--text);
    animation: spinning-circle 1.4s linear infinite;
}

@keyframes spinning-circle {
    0% {
        transform: rotate(0deg) translate(var(--translation-size)) rotate(0deg) scale(0.5);
    }
    50% {
        transform: rotate(240deg) translate(var(--translation-size)) rotate(-240deg) scale(1);
    }
    100% {
        transform: rotate(360deg) translate(var(--translation-size)) rotate(-360deg) scale(0.5);
    }
}

.spinner > div::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: var(--text);
    border-radius: 100%;
}

.instance {
    padding: var(--gap-h) var(--gap-v);
    border-radius: var(--input-border-radius);
    border: var(--input-border-width) solid var(--bg-4);
    background: var(--blue);
    color: var(--bg);
    font-size: 0.8em;
}

.align-center {
    align-items: center;
}

.card, .main-card {
    padding: calc(var(--gap-v) * 2);
    background: var(--bg-2);
    border-radius: var(--input-border-radius);
    border: var(--input-border-width) solid var(--bg-4);
}

.main-card {
    width: min(100%, 500px);
    justify-content: space-between;
}

.space-between {
    justify-content: space-between;
}

.channel {
    padding: var(--gap-h) var(--gap-v);
    width: calc(100% - 2 * var(--gap-v));
    background: var(--bg);
    border-radius: var(--input-border-radius);
    border-bottom: var(--input-border-width) solid var(--bg-4);
    color: var(--text);
    font-size: 1.2em;
    cursor: pointer;
}

.channel.active {
    background: var(--bg-2);
}

.text-small {
    font-size: 0.8em;
}

.chat-content {
    height: 100%;
}

.chat-input {
    padding: var(--gap-v);
}

.chat-messages {
    padding: var(--gap-v);
    flex-grow: 1;
}

.chat-messages {
    overflow-y: auto;
}

.rounded-max {
    border-radius: 9999px;
}

.message-text {
    padding-left: 1em;
}

.message-timestamp {
    display: none;
}

.chat-message:hover .message-timestamp {
    display: block;
}

.message-note {
    font-style: italic;
    color: var(--text-3);
    font-size: 0.8em;
    padding-left: 1.2em;
}

.message-content {
    position: relative;
}

.message-menu {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.5em;
    background: var(--bg-2);
    border-radius: var(--input-border-radius);
    border: var(--input-border-width) solid var(--bg-4);
    z-index: 999;
}